.keys-container {
  display: block;
  margin: 65px 0 0 10px;
  min-width: 500px;
}

.black {
  color: white;
  background-color: black;
  width: 48px;
  height: 48px;
  position: absolute;
  border: 1px solid gray;
  transform: translate(-24px, -48px);
}

.white {
  color: black;
  background-color: white;
  width: 48px;
  height: 48px;
  border: 1px solid gray;
  margin-top: 0;
}

.active {
  color: white;
  background-color: #ffa502;
}

.octave-switch {
  border: 1px solid gray;
  width: 25px;
  height: 25px;
  color: black;
  background: #eee;
  margin: 0 10px;
}
