.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.synth-wrapper {
  width: 1200px;
  height: auto;
  background-color: #585d65;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  border-top: 2px;
  border-bottom: 2px;
  border-right: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #707070;
  padding: 10px;
}

.container {
  color: white;
  display: flex;
}

canvas.visualizer {
  background-color: lightgrey;
  margin: 15px 15px 0 15px;
}
