.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.synth-wrapper {
  width: 1024px;
  height: auto;
  background-color: #eeeeee;
  margin: 20px auto;
}

.container {
  display: flex;
}
.red {
  background: orangered;
  display: flex;
  flex-direction: column;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}
.container div {
  color: white;
}




